
@model List<LearningBlog.Models.Post>

<h1>Bài viết</h1>
@{
    foreach (var post in @Model)
    {
        <h3>@post.Title</h3>
        <br />
        <h6>Người đăng: @post.UserName</h6>
        <br />
        <p>@post.Contents</p>
    }
}