
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Tìm kiếm</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p style="padding-bottom:0px; margin-bottom:0px">Nhập nội dung tìm kiếm</p>
                <div class="my-5" style="padding-top:0px">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "form-inline navbar-search" }))
                    {
                        <div class="form-floating">
                            @Html.TextBox("SearchText", "", new { @class = "form-control", @id = "message" })
                        </div>
                        <br />

                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Tìm</button>
                    }
                </div>
            </div>
        </div>
    </div>
</main>